elasticsearch
email_validator
flask
flask-babel
flask-bootstrap
flask-httpauth
flask_login
flask-mail
flask-migrate
flask-moment
flask-sqlalchemy
flask-wtf
guess-language_spirit
pyjwt
python-dotenv
requests
rq
